[Desktop Entry]
Name=SONE
Comment=Native TIDAL client for Linux — modern UI, bit-perfect lossless FLAC and Hi-Res audio
Categories=AudioVideo;Audio;Music;Player;
Exec=io.github.lullabyX.sone %u
MimeType=x-scheme-handler/tidal;
Icon=io.github.lullabyX.sone
Terminal=false
Type=Application
StartupWMClass=sone
GenericName=TIDAL Music Client
StartupNotify=true
Keywords=tidal;streaming;player;music;hifi;hi-fi;audiophile;dac;alsa;pulseaudio;pipewire;replaygain;gapless;hi-res;scrobble;lastfm;listenbrainz;mpris;discord;miniplayer;lyrics;themes;dark mode;proxy;mcp;
